@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductVM

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .product-image {
        width: 50%; /* Adjust as needed */
    }
</style>


<div class="card">
    <div class="image-container">
        
    <img src="@Model.productClass.ImgUrl" alt="Denim Jeans" class="product-image">
    </div>
    <h1>@Model.productClass.Name</h1>
    <p class="price">In stock @Model.productClass.In_stock</p>
    <p>@Model.productClass.Description</p>
    <form method="post" asp-action="buy">
        
        <input hidden asp-for="@Model.productClass.Id" />
        <input class="col-md-4" asp-for="@Model.num" />
        <br /><br />
    <button type="submit">Buy</button>
    </form>
</div>
@*

<div class="container d-flex justify-content-center mt-50 mb-50">

    <div class="row">
        <div class="col-md-10">

            <div class="card card-body">
                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                    <div class="mr-2 mb-3 mb-lg-0">

                        <img src="@Model.productClass.ImgUrl" width="150" height="150" alt="">

                    </div>

                    <div class="media-body">
                        <h6 class="media-title font-weight-semibold">
                            <a href="#" data-abc="true">@Model.productClass.Name</a>
                        </h6>

                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">@Model.productClass.Category</a></li>
                        </ul>

                        <p class="mb-3"> <a style="color:white">ads asdf asdf asdf asdf </a>@Model.productClass.Description</p>

                    </div>

                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                        <h3 class="mb-0 font-weight-semibold">@Model.productClass.In_stock</h3>
                        <div class="text-muted">Items Available</div>

                        <form method="post" asp-action="buy">
                        <div>
                            <input hidden asp-for="@Model.productClass.Id"/>
                            <i class="fa fa-star"><input asp-for="@Model.num"/></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                        <button type="submit" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i>Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
*@
