@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ProductClass>

<table class="table">
    <thead>
        <tr>
            <th>
                NO
            </th>
            <th>
                Name
            </th>
            <th>
                Description 
            </th>
            <th>
                Catrgory
            </th>
            <th>
                Company
            </th>
            <th>
                In Stock
            </th>
            <th>
                Buy
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var data in Model)
        {
            <tr>
                <td>
                    @data.Id
                </td>
                <td>
                    @data.Name
                </td>
                <td>
                    @data.Description
                </td>
                <td>
                    @data.Category
                </td>
                <td>
                    @data.company
                </td>
                <td>
                    @data.In_stock
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="buy" asp-route-id="@data.Id">Buy</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>